@import "catppuccin.css";

* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  min-height: 0;
  color: @text;
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  margin: 0 0 10px;
  padding: 0;
  background-color: rgba(30, 30, 46, 0.85);
  /* border-bottom: 1px solid @surface0; */
}

#clock,
#network,
#bluetooth,
#language,
#memory,
#temperature,
#disk,
#cpu,
#pulseaudio {
  padding: 6px 13px 6px;
}

#memory,
#temperature,
#disk,
#cpu {
  padding-left: 10px;
  padding-right: 10px;
}

#language {
  font-weight: 600;
  min-width: 30px;
  padding-left: 7px;
  padding-right: 7px;
  color: @blue;
  background-color: @mantle;
}

#network.wifi,
#network.ethernet {
  /* color: @green; */
  color: @text;
}

#bluetooth.connected {
  /* color: @blue; */
  color: @text;
}

#pulseaudio.volume {
  color: @green;
}

#pulseaudio.microphone {
  color: @red;
}

#workspaces {
  padding: 0 5px;
}
#workspaces button {
  padding: 0 15px;
  border-radius: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
#workspaces button.active {
  border-bottom: 3px solid @peach;
}
