@import "catppuccin.css";

* {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  min-height: 0;
  color: @text;
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  margin: 0 0 10px;
  padding: 0;
  background-color: rgba(30, 30, 46, 0.85);
  /* border-bottom: 1px solid @surface0; */
}

#workspaces button {
  padding: 5px;
}

#clock,
#network,
#bluetooth,
#language,
#memory,
#temperature,
#disk,
#cpu,
#pulseaudio {
  padding: 8px 10px 6px;
}

#clock {
  padding-top: 10px;
}

#network.wifi,
#network.ethernet {
  color: @green;
}

#bluetooth.connected {
  color: @blue;
}

#language {
  font-weight: 600;
  font-size: 20px;
  min-width: 30px;
  padding-top: 7px;
  color: @subtext1;
}

#pulseaudio.volume {
  color: @peach;
}

#pulseaudio.microphone {
  color: @red;
}

#workspaces {
  padding: 0 5px;
}
#workspaces button {
  padding: 0 15px;
  border-radius: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
#workspaces button.active {
  border-bottom: 2px solid @blue;
}
